---
layout: default
---

<div class="posts-container">
  <h1>
    <a href="{{ site.github.url }}/path-to-your-introduction-article">{{ page.title }}</a>
    <a href="mario-game.html">playmario</a>

  </h1>
  {% if page.image %}
    <div class="thumbnail-container">
      <a href="{{ site.github.url }}/path-to-your-introduction-article"><img src="{{ site.github.url }}/assets/img/{{ page.image }}"></a>
    </div>
  {% endif %}
  <p>
    {{ page.content | strip_html | truncate: 350 }} <a href="{{ site.github.url }}/path-to-your-introduction-article">Read more</a>
    <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
  </p>
</div>
